.active{
    color: rgb(255, 255, 255) !important;
    background-color: #1abc9c !important;
    border: 1px solid #1abc9c;
    border-radius: 8px;
}
.layer {
opacity: 0;
transition: opacity 0.7s ease;
}
.plus:hover .layer {
opacity: 1;
}
